/**************************************************
*
*   web color
*
*   white       : #fff
*   light blue  : #3B5998
*   dark blue   : #002A41
*   light yellow: #FFF2BD
*   green		: #335904
*   red			: #BB7778
*   black       : #323232
*
**************************************************/

/*
basic
*/

h1 {
	font-size: 60px;
}

h2 {
	font-size: 33px;
}

h3 {
	font-size: 28px;
}

p,
h4 {
	font-size: 20px;
}

/*******************************************************************
	menubar
	選單列
********************************************************************/

.menu {
	position: fixed;
	width: 100%;
	height: 12%;
	background-color: rgba(255,255,255,.3);
}

.menu .container {
	position: relative;
    top: 50%;
    transform: translate(0,-50%);
}

.collapse {
	padding: 0;
}

.logo a {
	height: inherit;
	padding: 0;
}

.menu img {
	width: 18%;
}

.menu ul {
	float: right;
	margin-top: -4%;
	height: 28px;
	padding-left: 0;
	list-style-type: none;
}

.menu ul li {
	display: inline-block;
	height: inherit;
	border-left: 1.5px #323232 solid;
}

.menu ul li:last-child {
	border-right: 1.5px #323232 solid;
}

.menu ul li a {
	height: inherit;
	padding: 0;
}

.menu ul li a h3 {
	margin: 0;
	padding: 0 10px;
}

/*******************************************************************
	section1
	首頁主視覺大圖
********************************************************************/

#section1 {
	background: url(../img/index.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.banner {
	background-color: rgba(255,255,255,.5);
	margin-top: 42vh;
	height: 20vh;
}

.banner img {
	height: 16vh;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.scroll_down {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 10vw;
	bottom: 40px;
}



